<div class="register-form">
  <h3 class="register-form__title">Create an account</h3>
  <p class="register-form__subtitle">Create a account to continue</p>
  <div class="register-form__form-wrapper">
    <app-form
      [fields]="formFieldsRegistration"
      [submitBtnTitle]="'Sign Up'"
      [loading]="authService.getLoading() | async"
      [buttonClass]="'w-[418px] mt-15'"
      (payload)="onSubmit($event)"
    ></app-form>
    <div class="w-[100%] flex flex-row justify-center mt-[18px] mb-[90px]">
      <p>
        Already have an account?
        <a routerLink="/login" class="text-blue-500 cursor-pointer">Login</a>
      </p>
    </div>
  </div>
</div>
