<div class="login-form">
  <h3 class="login-form__title">Login to Account</h3>
  <p class="login-form__subtitle">
    Please enter your email and password to continue
  </p>
  <div class="login-form__form-wrapper">
    <app-form
      [fields]="formFieldsLogin"
      [submitBtnTitle]="'Sign In'"
      [loading]="authService.getLoading() | async"
      [formClass]="'login-form__form'"
      [buttonClass]="'w-[418px] mt-15'"
      (payload)="onSubmit($event)"
    ></app-form>
    <div class="w-[100%] flex flex-row justify-center mt-[18px] mb-[90px]">
      <p>
        Don’t have an account?
        <a routerLink="/register" class="text-blue-500 cursor-pointer"
          >Create Account</a
        >
      </p>
    </div>
  </div>
</div>
